:root {
    --bg-img: url("../img/global/vexsaana.png");
    --behindtext-color: rgb(97, 37, 182);
    --p-color: #e3e0ec;
    --form-color: rgb(234, 230, 247);
  }
  main {
    padding: 25px;
  }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: var(--bg-img);
    filter: blur(3px);
    background-size: cover;
    background-attachment: fixed;
  }
  body {
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  main .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main .top h2 {
    padding: 9px 12px 12px;
    background-color: var(--form-color);
    border-radius: 25px;
  
    color: #061e4d;
    font-size: 30px;
  }
  
  main .top a {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease;
  }
  a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  main .top a,
  main .top a:active,
  main .top a:visited {
    color: beige;
  }
  
  
  main .info {
    margin-top: 1vw;
    padding: 1vw 2.5vw 1vw;
    background-color: var(--behindtext-color);
    border-radius: 5vw;
    width: 70vw;
    height: 34vw;
    margin-left: 10vw;
  }
  p {
    margin-top: 1vw;
    font-size: 1.4vw;
    color: var(--p-color);
    margin-bottom: 0.75vw;
  }
  
  [data-theme="dark"] {
    --bg-img:  url("../img/global/vce.jpg");
    --behindtext-color: #1e4086;
    --p-color: #bdc5f2;
    --form-color: #6e69aa;
  
  }
  body {
    background-image: var(--bg-img)
  }
  .info {
    color: var(--behindtext-color);
  }
  p {
    color: var(--p-color)
  }
  @media screen and (max-width: 768px) {
    main .info {
      margin-top: 50px;
      padding: 1.25vw 2vw 1.25vw;
      height: 47.5vw;
      width: 80vw;
    }
    p {
      font-size: 1.9vw;
    }
  }
  