:root {
  --bg-img: url("../img/global/fanny.jpg");
  --p-color: #a941bb;
  --form-color: rgb(247, 244, 251);
  --behindtext-color: white;
  --bg-color-card:whitesmoke;
  --border-color: lightgrey;
  --name-color:rgb(231, 104, 208);
  --boostprg-color:rgb(222, 55, 244);
  --comment-color:black;
}
main {
  padding: 25px;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: var(--bg-img);
  filter: blur(5px);
  background-size: cover;
  background-attachment: fixed;
}
body {
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
main .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .top h2 {
  padding: 9px 12px 12px;
  background-color: var(--form-color);
  border-radius: 25px;

  color: #1e4086;
  font-size: 30px;
}

main .top a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
}
a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
main .top a,
main .top a:active,
main .top a:visited {
  color: beige;
}

.item {
  display: none;
}

.item.active {
  display: block;
}
.next {
  float: right;
}
.prev {
  float: left;
}
button.next {
  cursor: pointer;
  position: relative;

  width: 4vw;
  height: 0.5vw;
  background-color: var(--name-color);
}

button.next::after {
  content: "";
  position: absolute;
  width: 2vw;
  height: 0.5vw;
  top: -0.7vw;
  right: -0.44vw;
  background-color: var(--name-color);
  transform: rotate(45deg);
}
button.next::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 0.5vw;
  top: 0.4vw;
  right: -0.44vw;
  background-color: var(--name-color);

  transform: rotate(-45deg);
}
button.next:hover {
  animation: button 1s linear infinite;
}
@keyframes button {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}
button.prev {
  cursor: pointer;
  position: relative;

  width: 3.5vw;
  height: 0.5vw;
  background-color: var(--name-color);

  display: block;
}
button.prev::after {
  content: "";
  position: absolute;
  width: 2vw;
  height: 0.5vw;
  top: 0.4vw;
  right: 2.1vw;
  background-color: var(--name-color);
  transform: rotate(45deg);
}
button.prev::before {
  content: "";
  position: absolute;
  width: 2vw;
  height: 0.5vw;
  top: -0.7vw;
  right: 2.1vw;
  background-color: var(--name-color);

  transform: rotate(-45deg);
}
button.prev:hover {
  animation: button 1s linear infinite;
}
@keyframes button {
  0% {
    left: 0;
  }
  50% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}

.boostprogress {
  font-size: 1vw;

  margin-top: 0.6vw;
  margin-left: 22vw;
  color: var(--boostprg-color);
}
.name {
  font-size: 1.4vw;
  color: var(--name-color);
  margin-left: 22vw;
  margin-top: 1vw;
}
.comment {
  font-size: 1.5vw;
  max-width: 20vw;
  text-align: left;
  float: left;
  margin-left: 1.5vw;
  margin-top: 6vw;
  color: var(--comment-color);
}

main .blockquote-detail img {
  display: block;
  width: 9vw;
  margin-left: 26.2vw;
  margin-top: 5vw;
  border-color: var(--name-color);
  border-radius: 50px;
}
.our-reviews {
  color: var(--form-color);
  font-size: 4vw;
  margin-left: 5.2vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}
.reviews-about {
  color: var(--p-color);
  font-size: 1.75vw;
  text-align: left;
  max-width: 35vw;
  margin-left: 1.5vw;
  background-color: var(--behindtext-color);
  border-radius: 2vw;
  height: 24vw;
  text-align: center;
  padding: 1.25vw;
  flex-basis: 50%;
}

.box {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1em;
  flex-wrap: wrap;
  width: 100%;
}
.card-body {
  border: 3px solid rgb(134, 128, 128);
  width: 40vw;
  text-align: center;
  border-radius: 25px;
  height: 25vw;
  border-color: var(--border-color);
  background-color: var(--bg-color-card);
  margin-right: 5vw;

  margin-top: 4.6vw;
  flex-basis: 50%;
}
.arrow-1 {
  margin-top: -6.5%;
  margin-left: 15vw;
}
.arrow-2 {
  margin-top: -12%;
  margin-right: 15vw;
}
[data-theme="dark"] {
  --bg-img:  url("../img/global/mia.jpg");
  --behindtext-color: #1e4086;
  --p-color: #e0e0e0;
  --form-color: #e0e0e0;
  --bg-color-card:#1e4086;
  --border-color: #e0e0e0;
  --name-color:#e0e0e0;
  --boostprg-color:grey;
  --comment-color:#e0e0e0;
}

@media screen and (max-width: 768px) {
  main .top {
    flex-direction: column;
    row-gap: 15px;
  }

  main .info {
    margin-top: 1.7vw;
    padding: 0;
  }

  main .info img {
    max-width: 85vw;
  }
}
