:root {
  --bg-img: url("../img/global/vexsanasv.jpg");
  --form-color: white;
  --behindtext-color: white;
  --p-color: #751e86;
  --content-color: black;
}
main {
  padding: 25px;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: var(--bg-img);
  filter: blur(2.5px);
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .top h2 {
  padding: 9px 12px 12px;
  background-color: var(--form-color);
  border-radius: 55px;
  color: #821e86;
  font-size: 30px;
}

main .top a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
  color: beige;
}

a:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.expand-button {
  margin-top: 1.2vw;
  padding: 0.65vw 1.2vw;
  border-radius: 0.8vw;
  font-size: 1.2vw;
  font-weight: 700;
  text-decoration: none;
  transition: transform 0.3s ease;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--behindtext-color);
  color: var(--p-color);
  border: none;
  cursor: pointer;
  background-image: url("../img/global/down.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 0.5vw 0.5vw;
}

button.active {
  background-image: url("../img/global/up.svg");
}

.content {
  display: none;
  background-color: var(--behindtext-color);
  padding: 0.1vw;
  border: 1px solid #ddd;
  border-radius: 0.5vw;
  margin-top: 0.5vw;
  color: var(--content-color);
}

.container {
  flex: 1;
  margin: 10px;
  width: 100%;
  max-width: 50vw;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0.01vw 0.01vw;
  font-size: 1.2vw;
  white-space: pre-wrap;
}
[data-theme="dark"] {
  --bg-img:  url("../img/global/veil.png");
  --behindtext-color: #1e4086;
  --p-color: #e0e0e0;
  --form-color: #e0e0e0;
  --content-color: lightgray;

}
body {
  background-image: var(--bg-img)
}
@media screen and (max-width: 768px) {
  main .top {
    flex-direction: column;
    row-gap: 15px;
  }
  .container {
    margin-right: 30vw;
  }
  button.expand-button {
    width: 80vw;
    margin-right: 50vw;
    height: 4.5vw;
    font-size: 1.8vw;
  }
  .content {
    width: 100vw;
    height: 13.5vw;
  }
  p {
    font-size: 1.75vw;
  }
}
