:root  {
    --hdr-img: url("../img/header/banner.png");
    --logo-img: url("../img/header/logo1.png");
    --form-color: white;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
  
  
  * {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  
  body:not(header) {
    width: 100%;
    min-height: 100vh;
    background-color: #f0b6e86d;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  header {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 15px 30px;
    background-image: var(--bg-img);
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
  header .logo {
    width: 100px;
    height: 100px;
    position: relative;
    transition: transform 0.3s ease;
    background-image: var(--logo-img);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 10px;
  }
  .logo:hover {
    transform: scale(1.1);
  }
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    padding: 0 60px;
  }
  
  nav ul li:not(:last-child) {
    border-right: rgb(244, 239, 239) 0.3px solid;
  }
  
  nav ul li a,
  nav ul li a:visited,
  nav ul li a:active {
    color: var(--form-color);
    text-decoration: none;
  }
  
  nav ul li a {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  #theme-selector {
    background-clip: padding-box;
    padding: 0 0.4vw  0 0.4vw;
    width: 8.25vw;
    height: 1.5vw;
    font-size: 0.8vw;
    color: #5a106b;
    background-color: var(--form-color);
    background-image: url("../img/global/down.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.6vw 0.6vw;
    border: 1px solid rgba(11, 62, 124, 0.06);
    border-radius: 0.4rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
  
  }
  #reset-theme {
    text-align: center;
    width: 8.25vw;
    height: 1.5vw;
    font-size: 0.8vw;
    color: #380a5b;
    background-color: var(--form-color);
    border: 1px solid rgba(8, 60, 130, 0.06);
    border-radius: 0.45rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
  }
  nav ul li a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  [data-theme="dark"] {
    --hdr-img:  url("../img/header/banner1.jpg");
    --logo-img: url("../img/header/logo.png");
    --form-color: #7d7c7e;
  }
  header {
    background-image: var(--hdr-img);
  }
  header .logo {
    background-image: var(--logo-img);
  }
  @media screen and (max-width: 768px) {
    header {
      padding: 15px 15px;
      align-items: center;
      justify-content: space-between;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      padding: 5px 0;
      flex: 1;
    }
    #theme-selector {
      flex: 1;
      padding: 0.5vw 0.8vw 0.5vw;
      width: 13vw;
      height: 5vw;
      font-size: 1.2vw;
    }
    #reset-theme {
      flex: 1;
      margin-left: 2vw;
      width: 10vw;
      height: 5vw;
      font-size: 1.2vw;
    }
    nav ul li:not(:last-child) {
      border-right: none;
      border-bottom: white 3px solid;
    }
  }
  